table.record-details-table {
 width: 100%;
}
.form-group label span.error{
    color: red;
}
table.record-details-table tr td:first-child {
 width: 20%!important;
}

div.cursor-poiner{
    cursor: pointer;
}
button.editable-submit{
    background: #00C48C!important;
    margin-right: 2px;
    border: none!important;
    border-radius: 10%;
}
button.editable-cancel{
    background: #FF375E!important;
    border: none!important;
    border-radius: 10%;
}

.multistep-row .multistep-div{
    padding: 5px;
    text-align: center;
    border-right:1px solid #0e4505;
    border-left:1px solid #0e4505;
    border-top:1px solid #0e4505;
}
.multistep-row .multistep-div.active{
    background: white!important;
    color: green!important;
}
.multistep-row .multistep-div.active a{
    color: green!important;
}
.multistep-row .multistep-div a{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.multistep-row{
    border-radius: 10px;
    padding: 0 8px;
}

.navbar-white {background-color: #3381c4;}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus { color: #fff; }
.navbar-light .navbar-nav .nav-link:hover { color: #fff; opacity: 0.5; }
.main-header .navbar-nav .nav-item.dropdown .btn-primary { overflow: hidden; }
.main-header .navbar-nav .nav-item.dropdown .btn-primary .text-muted {color: #fff!important; }
.layout-fixed .main-sidebar {background-image: linear-gradient(180deg, #824d9e, #3381c4);}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {background-color: #3381c3;}

[class*="sidebar-dark-"] .sidebar a {color: #fff;}

[class*="sidebar-dark"] .brand-link {border-bottom: 1px solid rgba(255,255,255,0.2);}

[class*="sidebar-dark"] .user-panel {border-bottom: 1px solid rgba(255,255,255,0.2);}

.nav-sidebar .nav-treeview {padding-left: 15px; background-color: rgba(255, 255, 255, 0.1)!important;}

.user-panel .image img { background: #fff; }

.bg-info {background-color: #1bced8!important;}

.bg-success {background-color: #00c48c!important;}

.bg-warning {background-color: #ff375e!important;}

.bg-info, .bg-info > a, .bg-success, .bg-success > a, .bg-warning, .bg-warning > a {color: #fff !important;}

.btn-primary {border-color: #4f008c; background-color: #4f008c;}
.btn-primary:hover {border-color: #39035e; background-color: #39035e;}

.btn-success {border-color: #00c48c; background-color: #00c48c;}
.btn-success:hover {border-color: #03835f; background-color: #03835f;}

#language { width: 120px; }


.card-success:not(.card-outline) > .card-header {background-color: #00c48c;}

#external-events { display: flex; align-items: center; flex-wrap: wrap; }
#external-events div, #external-events h4 { margin-right: 5px; }
#external-events .bg-success {background-color: #3ea846!important;}
#external-events .bg-warning {background-color: #ffc344!important;}
#external-events .bg-danger  {background-color: #dc3d45!important;}

#task_list, #task_list select { margin-bottom: 10px; }



@media (max-width: 991px) {
 #external-events {margin: 10px 0 0; }

}

@media (max-width: 479px) {
 #external-events h4 { width: 100%; margin: 0 0 10px; }

}


/*comment box */


.comment-widgets {
    position: relative;
    margin-bottom: 10px
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0
}

.p-2 {
    padding: 0.5rem !important
}

.comment-text {
    padding-left: 15px
}

.w-100 {
    width: 100% !important
}

.m-b-15 {
    margin-bottom: 15px
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 1px
}

.btn-cyan {
    color: #fff;
    background-color: #27a9e3;
    border-color: #27a9e3
}

.btn-cyan:hover {
    color: #fff;
    background-color: #1a93ca;
    border-color: #198bbe
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}

/*******/

/** design for form legend */
  fieldset.scheduler-border {
    border: 1px groove #e6ffe6 !important;
    padding: 0 1em 1em 1em !important;
    margin: 0 0 1em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
legend{
  font-size: 15px;
}
/*****/

/* mailbox customization css */
.mailbox-messages tr.message-unread{
    background: #ffffcc!important;
}

/************/

.admin-logo img { width: 200px; }

.assign-labour-task { width: 100%; text-align: right; }
.ms-options-wrap > .ms-options > ul input[type="checkbox"] { top: 10px; }
.ms-options ul { list-style: none; margin: 0; padding: 0 0 0 10px; }

.work-options .ms-options-wrap > .ms-options > ul li { padding-left: 25px; }
.work-options .ms-options-wrap > .ms-options > ul li:nth-child(4n+1) 
 { padding-left: 10px; }

#admin_labour_task_feedback_form textarea { margin-bottom: 15px; }


#external-events {width: 100%!important;}
#showTaskListModal table th { text-align: center; }
#task_labour_list_management_table.table-bordered { border: 0; }
#task_labour_list_management_table.table-bordered tr.text-right td { padding-bottom: 10px!important; border: 0!important; }
.btn-success p { margin: 0; padding: 0; }

#filter_calendar { padding: 10px; border: 1px solid #ccc; background: #dcedfc; margin-bottom: 10px; }
#status-filter-container { padding-right: 100px; }
#status-filter-container input[type="button"] { width: 90px; height: 40px; background: #4f008c; color: #fff;  position: absolute; top: 0; right: 7.5px; }
#status-filter-container .chosen-container-multi { width: 100%!important; }

.chosen-container-multi .chosen-choices { height: 40px!important; overflow-y: auto!important; }

#filter_calendar { display: none; }
#filter_calendar.show{ display: block; }

.btn-filter-drop {height: 40px; background: #4f008c; color: #fff; padding: 10px 15px; border: 0; cursor: pointer; margin-bottom: 10px;}

.btn-search {height: 40px; background: #4f008c; color: #fff; padding: 10px 15px; border: 0; cursor: pointer;}
.btn-search:hover { color: #fff; }