table.record-details-table {
 width: 100%;
}
.form-group label span.error{
	color: red;
}
table.record-details-table tr td:first-child {
 width: 20%!important;
}

div.cursor-poiner{
	cursor: pointer;
}
button.editable-submit{
	background: #00C48C!important;
	margin-right: 2px;
	border: none!important;
	border-radius: 10%;
}
button.editable-cancel{
	background: #FF375E!important;
	border: none!important;
	border-radius: 10%;
}

.multistep-row .multistep-div{
	padding: 5px;
	text-align: center;
	border-right:1px solid #0e4505;
	border-left:1px solid #0e4505;
	border-top:1px solid #0e4505;
}
.multistep-row .multistep-div.active{
	background: white!important;
	color: green!important;
}
.multistep-row .multistep-div.active a{
	color: green!important;
}
.multistep-row .multistep-div a{
	display: inline-block;
	height: 100%;
	width: 100%;
}
.multistep-row{
	border-radius: 10px;
	padding: 0 8px;
}

.navbar-white {background-color: #4f008c;}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus { color: #fff; }
.navbar-light .navbar-nav .nav-link:hover { color: #fff; opacity: 0.5; }
.main-header .navbar-nav .nav-item.dropdown .btn-primary { overflow: hidden; }
.main-header .navbar-nav .nav-item.dropdown .btn-primary .text-muted {color: #fff!important; }
.layout-fixed .main-sidebar {background-color: #1d252d;}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {background-color: #00c48c;}

.nav-sidebar .nav-treeview {padding-left: 15px; background-color: rgba(255, 255, 255, 0.1)!important;}

.user-panel .image img { background: #fff; }

.bg-info {background-color: #1bced8!important;}

.bg-success {background-color: #00c48c!important;}

.bg-warning {background-color: #ff375e!important;}

.bg-info, .bg-info > a, .bg-success, .bg-success > a, .bg-warning, .bg-warning > a {color: #fff !important;}

.btn-primary {border-color: #4f008c; background-color: #4f008c;}
.btn-primary:hover {border-color: #39035e; background-color: #39035e;}

.btn-success {border-color: #00c48c; background-color: #00c48c;}
.btn-success:hover {border-color: #03835f; background-color: #03835f;}

#language { width: 120px; }


.card-success:not(.card-outline) > .card-header {background-color: #00c48c;}

#external-events { display: flex; align-items: center; flex-wrap: wrap; }
#external-events div, #external-events h4 { margin-right: 5px; }
#external-events .bg-success {background-color: #3ea846!important;}
#external-events .bg-warning {background-color: #ffc344!important;}
#external-events .bg-danger  {background-color: #dc3d45!important;}

#task_list, #task_list select { margin-bottom: 10px; }

@media (max-width: 991px) {
 #external-events {margin: 10px 0 0; }

}

@media (max-width: 479px) {
 #external-events h4 { width: 100%; margin: 0 0 10px; }

}


/*comment box */


.comment-widgets {
    position: relative;
    margin-bottom: 10px
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0
}

.p-2 {
    padding: 0.5rem !important
}

.comment-text {
    padding-left: 15px
}

.w-100 {
    width: 100% !important
}

.m-b-15 {
    margin-bottom: 15px
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 1px
}

.btn-cyan {
    color: #fff;
    background-color: #27a9e3;
    border-color: #27a9e3
}

.btn-cyan:hover {
    color: #fff;
    background-color: #1a93ca;
    border-color: #198bbe
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}

/*******/